*~
__pycache__
/build/
/dyad.egg-info/
/pytest_cache/
/docs/build/
/docs/make.bat
/dyad/_properties/
/dyad/stats/_tests/
/dyad/stats/_period.py
/dyad/stats/secondary_mass.py
/examples/data/
/examples/figures/
.python-version
dev
env
*.pdf
.coverage
htmlcov
\#*
\**